@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hoffmann-blue: #0198AD;
  --hoffmann-gray: #232323;
  --hoffmann-red: #D45822;
  --hoffmann-yellow: #D1B627;
  --hoffmann-lightgray: #9b9b9b;
  --display-font: 'Chakra Petch', sans-serif;
  
  //home-animation grid lines
  --ha-col1-left: 130px;
  --ha-row1-top: 25px;
  interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  /* background: var(--hoffmann-gray); */
  background: white;
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-family: var(--display-font);
}

h1 {font-size: 2.5em; font-weight: 999}
h2 {font-size: 2em}
h3 {font-size: 1.5em}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.nav-sidebar {
  position: fixed;
  z-index:10;

  a { 
    font-family: var(--display-font); 
  }

  .navigation-linkset {
    button {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2px 0px;
      font-size: 1.4em;
      font-family: var(--display-font);
    }
  }

  &.nav-on  {
    animation-name: nav-animation-on;
    animation-duration: .5s;
    width: 300px;
    background: var(--hoffmann-blue);

    .navigation-linkset {
      display: block;
    }
    
  }

  &.nav-off {

    animation-name: nav-animation-off;
    animation-duration: .5s;
    width: 5%;
    background: black;

    .navigation-linkset {
      display:none;
    }
  }
  
}



@keyframes nav-animation-on {
  0% {width: 5%; background: black;}
  100% {width: 300px; background: var(--hoffmann-blue);}
}
@keyframes nav-animation-off {
  
  0% {width: 300px; background: var(--hoffmann-blue)}
  100% {width: 5%; background: black;}
}

main {
  margin-left: 5%;
}



.homepage {
  position: relative;

  &:after {
    content: "";
    background-size: 10px 10px;
    background-image: linear-gradient(to right, #e54d00 1px, transparent 1px), linear-gradient(to bottom, #e54d00 1px, transparent 1px);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: .15;
}

  @media(min-width: 1024px){
    padding-left: 10rem;
    padding-right: 3rem;
  }
  
  .left-side {
    color: black;
    h1,h3{
      line-height: 1em;
    }
  }

  .right-side {
    img { 
      width: auto;
      height: 90%;
    }
  }
  
}

.mainlogo {  
  img {
    width: auto;
    height: auto;
  }
  h4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: var(--display-font);

    :nth-child(13){
      color: var(--hoffmann-red);
    }
  }
}

.page-section {
  padding: 0;

  &.page-section-about {
    details {
      summary {
        color: white;
        background-color: var(--hoffmann-blue);

        .plus-sign__icon, .minus-sign__icon {
          fill: white;
        }
      }
      .page-section__body {
        background-color: var(--hoffmann-blue);
      }
    }
  }

  &.page-section-services {
    details {
      summary {
        background-color: white;
        color: var(--hoffmann-red);

        .plus-sign__icon, .minus-sign__icon {
          fill: var(--hoffmann-red);
        }
      }
      .page-section__body {
        background-color: white;
        color: black;
      }
    }
  }

  &.page-section-contact {
    details {
      summary {
        background-color: var(--hoffmann-yellow);
        color: black;

        .plus-sign__icon, .minus-sign__icon {
          fill: var(--hoffmann-gray);
        }
      }
      .page-section__body {
        background-color: var(--hoffmann-yellow);
        color: black;
      }
    }
  }

  details {
    transition: background-color .5s ease-in-out;

    &::details-content {
      transition: block-size .3s ease-in-out, content-visibility .3s ease-in-out;
      block-size: 0;
      transition-behavior: allow-discrete;
    }

    summary {
      font-size: 6rem;
      font-weight: bold;
      color: var(--hoffmann-blue);
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin: 0;
      max-height: 95px;
      overflow: hidden;
      font-family: var(--display-font);
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      text-align: left;
      padding-right: 50px;
      padding-left: 25px;
      transition: max-height .3s ease-in-out, background-color .3s ease-in-out;
      background-color: var(--hoffmann-gray);

      .plus-sign__icon, .minus-sign__icon {
        fill: white;
        margin-top: 35px;
          svg {
            width: 75px;
            height: 75px;
          }
      }
      
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 1;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0s ease-in-out, opacity .2s ease-in-out;
        
      }

    }

    .page-section__body {
      padding-inline: 5rem;
      padding-block: 0 3rem;
      min-height: 100vh;
      background-color: var(--hoffmann-gray);
    }

    &[open] {

      &::details-content {
        block-size: auto;
      }

      summary {
        max-height: 100%;
        overflow-y: visible;

        &:after {
          box-shadow: 0 0 0 0 rgba(0,0,0,0);
          opacity: 0;
        }
      }

      
    }
  }
}

.page-section-work {

  position: relative;
  
  .page-section__body {
    padding-inline: 2rem !important;
  }

  .work-list {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    @media(min-width: 968px){
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    
    

    .work-item {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: subgrid;
      gap: 0 2rem;
      justify-content: space-between;
      transition: 0.3s all;
      cursor: pointer;
      padding-block: 1rem;
      padding-inline: 1rem;
      background: black;
      border: 1px solid black;



      .work-item__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        button {
          display: flex;
          align-items: center;
          align-self: flex-end;
          float: right;
          margin-top: 1rem;
          transition: background-color .3s ease-in-out, color .3s ease-in-out;
          padding: .25rem .5rem .25rem 1rem;
          svg {
            margin-left: 1rem;
          }
        }
      }

      h3 {
        padding-bottom: 1rem;
        transition: color .3s ease-in-out;
        font-weight: bold;
        text-wrap: balance;
        color: var(--hoffmann-blue);
      }
      .work-item__description {
        color: white;
        transition: color .3s ease-in-out;
        text-wrap: balance;
      }
      .work-item__media {
        align-content:center;
        img {
          width: 100%;
        }
      }

      svg {
        color: var(--hoffmann-blue);
        font-size: 1.5em;
      }

      &:hover {
        border: 1px solid var(--hoffmann-blue);

        h3 {
          color: var(--hoffmann-blue);

        }

        .work-item__description {
          color: #ccc;
        }

        button {
          background: var(--hoffmann-blue);
          color: white;
          svg {
            fill: white;
          }
        }
      }
    }
  }

  .work-detail {
    width: 100%;
    height: 100%;
    background: var(--hoffmann-gray);
    position: fixed;
    overflow-y:scroll;
    padding-top: 25px;
    z-index: 10;

    .work-detail-left-border{
      width: 50px;
      height: 100%;
      position: fixed;
      display: none;
      left: 0;
      top: 0;
      background: var(--hoffmann-red);
    }
    

    &.work-detail-on {
      display: block;
      top:0;
      left: 0;
      animation: work-detail-animation-on .5s ease-in-out;
    }
    &.work-detail-off {
      display: none;
      right: 100%;
      animation: work-detail-animation-off .2s ease-in-out;
    }

    .work-detail-heading {
      background: var(--hoffmann-gray);
      padding: 25px 0px;
      text-align: center;
      h2 {
          color: var(--hoffmann-blue);
          font-weight: bold;
        }
    }

    .work-detail-body {
      .work-detail-body-inner {
        padding: 25px 0;



        .work-item {

          min-height: 300px;
          background: black;
          border-right:20px solid var(--hoffmann-blue);
          border-left: 0px;
          
          &:nth-child(even){
            flex-direction: row-reverse;
            border-left:20px solid var(--hoffmann-blue);
            border-right: 0px;

            .work-item-bgimage {
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
              clip-path: polygon(0 0, 100% 0, 100% 99%, 26% 100%);
            }

            .work-item-content {
              justify-content: flex-end;
              padding: 25px;
            }
          }

          .work-item-content>div {
            max-width: 50vw;
          }

          .work-item-content {
            min-height: 300px;
          }
          
          .work-item-bgimage {
            
            background-position: center center;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
          }

          h3 {
            color: var(--hoffmann-blue);
            margin-bottom: 15px;
          }

          .work-details-text {
            p {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

.work-tabs {
  button {
    border: 1px solid var(--hoffmann-blue);
    background: transparent;
    transition: .3s all;

    &:hover {
      background-color: var(--hoffmann-red);
      border-color: var(--hoffmann-red);
      color: white;
    }

    &.active {
      background: var(--hoffmann-blue);
      color: white;

      &:hover {
        border-color: var(--hoffmann-blue);
        background-color: var(--hoffmann-blue);
      }
    }
  }
}

@keyframes work-detail-animation-on {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}
@keyframes work-detail-animation-off {
  0% {transform: translateX(0)}
  100% {transform: translateX(100%)}
}

.page-section-about {
  background: var(--hoffmann-blue);
  color: white;
}

.service-item {
  width: 50%;
  color: white;
  padding: 25px;
  display: flex;
  align-items: center;

  img {
    width: 30%;
    height: auto;
  }

  > div {
    padding: 25px
  }

  h3 {
    line-height: 1em;
    color: var(--hoffmann-red);
    margin-bottom: 10px;
  }

  p {
    color: #333;
  }
}

.home-animation__container {
  position: relative;
  width: 100%;
  height: 50%;
  background: transparent;
  z-index: 10;

  .shape {
    opacity: 0;
    transition: opacity .25s ease-in;

    :has(.--start-transition) & {
      opacity: 1;
    }
  }
}

.home-animation__top {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  height: 130px;

  >div {
    display: grid;
    grid-template-rows: .55fr 1fr 1fr;
    gap: 10px;
  }

  .home-animation__top__right {
    grid-template-columns: .25fr .25fr 1fr 1fr;
  }
}

.shape-01_box {
  background-color: var(--hoffmann-red);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.22s, opacity 0.25s ease-in;
  transform-origin: center left;
  transform: rotateY(-180deg);
  z-index: 10;

  :has(.--start-transition) & {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.shape-11_box {
  background-color: var(--hoffmann-red);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.22s, opacity 0.25s ease-in;
  transform-origin: center left;
  transform: rotateY(-180deg);
  z-index: 10;
  grid-column-start: 1;
  grid-column-end: 3;

  :has(.--start-transition) & {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.shape-13_semicircle {
  fill: var(--hoffmann-blue);
  grid-column-start: 3;
  grid-column-end: 4;
}

.shape-10_triangle {
  background-color: var(--hoffmann-red);
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.22s, opacity 0.25s ease-in;
  transform-origin:top right;
  transform: rotateY(180deg);
  z-index: 10;
  clip-path: polygon(0 1%, 100% 0, 100% 100%);

  grid-row-start: 2;
  grid-row-end: 4;

  :has(.--start-transition) & {
    transform: rotateY(0deg);
    opacity: 1;
  }
}




