@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hoffmann-blue: #0198AD;
  --hoffmann-gray: #232323;
  --hoffmann-red: #D45822;
  --hoffmann-yellow: #D1B627;
  --hoffmann-lightgray: #9b9b9b;
  --display-font: 'Chakra Petch', sans-serif;
  interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--hoffmann-gray);
}

h1,h2,h3 {
  font-family: var(--display-font);
}

h1 {font-size: 2.5em; font-weight: 999}
h2 {font-size: 2em}
h3 {font-size: 1.5em}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.nav-sidebar {
  position: fixed;
  z-index:10;

  a { 
    font-family: var(--display-font); 
  }

  .navigation-linkset {
    button {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2px 0px;
      font-size: 1.4em;
      font-family: var(--display-font);
    }
  }

  &.nav-on  {
    animation-name: nav-animation-on;
    animation-duration: .5s;
    width: 300px;
    background: var(--hoffmann-blue);

    .navigation-linkset {
      display: block;
    }
    
  }

  &.nav-off {

    animation-name: nav-animation-off;
    animation-duration: .5s;
    width: 5%;
    background: black;

    .navigation-linkset {
      display:none;
    }
  }
  
}



@keyframes nav-animation-on {
  0% {width: 5%; background: black;}
  100% {width: 300px; background: var(--hoffmann-blue);}
}
@keyframes nav-animation-off {
  
  0% {width: 300px; background: var(--hoffmann-blue)}
  100% {width: 5%; background: black;}
}

main {
  margin-left: 5%;
}


.homepage {
  
  @media(min-width: 1024px){
    padding-left: 10rem;
    padding-right: 3rem;
  }
  
  .left-side {
    h1,h3{
      line-height: 1em;
    }
  }

  .right-side {
    img { 
      width: auto;
      height: 90%;
    }
  }
  
}

.mainlogo {  
  img {
    width: auto;
    height: auto;
  }
  h4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    :nth-child(1){
      color: var(--hoffmann-red);
    }

    :nth-child(13){
      color: var(--hoffmann-red);
    }
  }
}

.page-section {
  padding: 0;

  &.page-section-about {
    details {
      summary {
        color: white;
      }
    }
  }

  &.page-section-services {
    details {
      summary {
        background-color: white;
        color: var(--hoffmann-red);
      }
      .page-section__body {
        background-color: white;
        color: black;
      }
    }
  }

  &.page-section-contact {
    details {
      summary {
        background-color: var(--hoffmann-yellow);
        color: black;
      }
      .page-section__body {
        background-color: var(--hoffmann-yellow);
        color: black;
      }
    }
  }

  details {
    transition: background-color .5s ease-in-out;

    &::details-content {
      visibility: hidden;  
      transition: block-size .3s ease-in-out, content-visibility .3s;
      block-size: 0;
      transition-behavior: allow-discrete;
    }
    summary {
      font-size: 6rem;
      font-weight: bold;
      color: var(--hoffmann-blue);
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin: 0;
      max-height: 95px;
      overflow: hidden;
      font-family: var(--display-font);
      cursor: pointer;
      display: block;
      position: relative;
      text-align: left;
      transition: max-height .3s ease-in-out, background-color .3s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
        z-index: -1;
      }

    }

    &[open] {

      &::details-content {
        visibility: visible;  
        block-size: auto;
      }

      summary {
        max-height: 100%;
        overflow-y: visible;
      }

      .page-section__body {
        min-height: 100vh;
      }
      
    }
  }
}

.page-section-work {

  position: relative;

  .work-list {
    padding: 0px 10vw;
    margin-top: 45px;

    .work-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--hoffmann-blue);
      padding: 10px;
      transition: .3s all;
      cursor:pointer;

      svg {
        color: var(--hoffmann-red);
        font-size: 1.5em;
      }

      &:hover {
        background: var(--hoffmann-blue);

        svg {
          color: white;
        }
      }
    }
  }

  .work-detail {
    width: 100%;
    height: 100%;
    background: var(--hoffmann-gray);
    position: fixed;
    overflow-y:scroll;
    padding-top: 25px;
    z-index: 10;

    .work-detail-left-border{
      width: 50px;
      height: 100%;
      position: fixed;
      display: none;
      left: 0;
      top: 0;
      background: var(--hoffmann-red);
    }
    

    &.work-detail-on {
      display: block;
      top:0;
      left: 0;
      animation: work-detail-animation-on .5s ease-in-out;
    }
    &.work-detail-off {
      display: none;
      right: 100%;
      animation: work-detail-animation-off .2s ease-in-out;
    }

    .work-detail-heading {
      background: var(--hoffmann-gray);
      padding: 25px 0px;
      text-align: center;
      h2 {
          color: var(--hoffmann-blue);
          font-weight: bold;
        }
    }

    .work-detail-body {
      .work-detail-body-inner {
        padding: 25px 0;



        .work-item {

          min-height: 300px;
          background: black;
          border-right:20px solid var(--hoffmann-blue);
          border-left: 0px;
          
          &:nth-child(even){
            flex-direction: row-reverse;
            border-left:20px solid var(--hoffmann-blue);
            border-right: 0px;

            .work-item-bgimage {
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
              clip-path: polygon(0 0, 100% 0, 100% 99%, 26% 100%);
            }

            .work-item-content {
              justify-content: flex-end;
              padding: 25px;
            }
          }

          .work-item-content>div {
            max-width: 50vw;
          }

          .work-item-content {
            min-height: 300px;
          }
          
          .work-item-bgimage {
            
            background-position: center center;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
          }

          h3 {
            color: var(--hoffmann-blue);
            margin-bottom: 15px;
          }

          .work-details-text {
            p {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

.work-tabs {
  button {
    border: 1px solid var(--hoffmann-blue);
    background: transparent;
    transition: .3s all;

    &:hover {
      background-color: var(--hoffmann-red);
      border-color: var(--hoffmann-red);
      color: white;
    }

    &.active {
      background: var(--hoffmann-blue);
      color: white;

      &:hover {
        border-color: var(--hoffmann-blue);
        background-color: var(--hoffmann-blue);
      }
    }
  }
}

@keyframes work-detail-animation-on {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}
@keyframes work-detail-animation-off {
  0% {transform: translateX(0)}
  100% {transform: translateX(100%)}
}

.page-section-about {
  background: var(--hoffmann-blue);
  color: white;
}

.service-item {
  width: 50%;
  color: white;
  padding: 25px;
  display: flex;
  align-items: center;

  img {
    width: 30%;
    height: auto;
  }

  > div {
    padding: 25px
  }

  h3 {
    line-height: 1em;
    color: var(--hoffmann-red);
    margin-bottom: 10px;
  }

  p {
    color: var(--hoffmann-lightgray);
  }
}

